@use "sass:color";

$color1: #3834bf;
$color2: #c004d9;
$color3: #f22998;
$color4: #f28705;
$color5: #f2cb07;

$color1_l1: color.scale($color1, $lightness: 10%);
$color1_l2: color.scale($color1, $lightness: 20%);
$color1_l3: color.scale($color1, $lightness: 30%);
$color1_l4: color.scale($color1, $lightness: 40%);
$color1_l5: color.scale($color1, $lightness: 50%);
$color1_l6: color.scale($color1, $lightness: 60%);
$color1_l7: color.scale($color1, $lightness: 70%);
$color1_l8: color.scale($color1, $lightness: 80%);
$color1_l9: color.scale($color1, $lightness: 90%);
$color1_d1: color.scale($color1, $lightness: -10%);
$color1_d2: color.scale($color1, $lightness: -20%);
$color1_d3: color.scale($color1, $lightness: -30%);
$color1_d4: color.scale($color1, $lightness: -40%);
$color1_d5: color.scale($color1, $lightness: -50%);
$color1_d6: color.scale($color1, $lightness: -60%);
$color1_d7: color.scale($color1, $lightness: -70%);
$color1_d8: color.scale($color1, $lightness: -80%);
$color1_d9: color.scale($color1, $lightness: -90%);

$color2_l1: color.scale($color2, $lightness: 10%);
$color2_l2: color.scale($color2, $lightness: 20%);
$color2_l3: color.scale($color2, $lightness: 30%);
$color2_l4: color.scale($color2, $lightness: 40%);
$color2_l5: color.scale($color2, $lightness: 50%);
$color2_l6: color.scale($color2, $lightness: 60%);
$color2_l7: color.scale($color2, $lightness: 70%);
$color2_l8: color.scale($color2, $lightness: 80%);
$color2_l9: color.scale($color2, $lightness: 90%);
$color2_d1: color.scale($color2, $lightness: -10%);
$color2_d2: color.scale($color2, $lightness: -20%);
$color2_d3: color.scale($color2, $lightness: -30%);
$color2_d4: color.scale($color2, $lightness: -40%);
$color2_d5: color.scale($color2, $lightness: -50%);
$color2_d6: color.scale($color2, $lightness: -60%);
$color2_d7: color.scale($color2, $lightness: -70%);
$color2_d8: color.scale($color2, $lightness: -80%);
$color2_d9: color.scale($color2, $lightness: -90%);

$color3_l1: color.scale($color3, $lightness: 10%);
$color3_l2: color.scale($color3, $lightness: 20%);
$color3_l3: color.scale($color3, $lightness: 30%);
$color3_l4: color.scale($color3, $lightness: 40%);
$color3_l5: color.scale($color3, $lightness: 50%);
$color3_l6: color.scale($color3, $lightness: 60%);
$color3_l7: color.scale($color3, $lightness: 70%);
$color3_l8: color.scale($color3, $lightness: 80%);
$color3_l9: color.scale($color3, $lightness: 90%);
$color3_d1: color.scale($color3, $lightness: -10%);
$color3_d2: color.scale($color3, $lightness: -20%);
$color3_d3: color.scale($color3, $lightness: -30%);
$color3_d4: color.scale($color3, $lightness: -40%);
$color3_d5: color.scale($color3, $lightness: -50%);
$color3_d6: color.scale($color3, $lightness: -60%);
$color3_d7: color.scale($color3, $lightness: -70%);
$color3_d8: color.scale($color3, $lightness: -80%);
$color3_d9: color.scale($color3, $lightness: -90%);

$color4_l1: color.scale($color4, $lightness: 10%);
$color4_l2: color.scale($color4, $lightness: 20%);
$color4_l3: color.scale($color4, $lightness: 30%);
$color4_l4: color.scale($color4, $lightness: 40%);
$color4_l5: color.scale($color4, $lightness: 50%);
$color4_l6: color.scale($color4, $lightness: 60%);
$color4_l7: color.scale($color4, $lightness: 70%);
$color4_l8: color.scale($color4, $lightness: 80%);
$color4_l9: color.scale($color4, $lightness: 90%);
$color4_d1: color.scale($color4, $lightness: -10%);
$color4_d2: color.scale($color4, $lightness: -20%);
$color4_d3: color.scale($color4, $lightness: -30%);
$color4_d4: color.scale($color4, $lightness: -40%);
$color4_d5: color.scale($color4, $lightness: -50%);
$color4_d6: color.scale($color4, $lightness: -60%);
$color4_d7: color.scale($color4, $lightness: -70%);
$color4_d8: color.scale($color4, $lightness: -80%);
$color4_d9: color.scale($color4, $lightness: -90%);

$color5_l1: color.scale($color5, $lightness: 10%);
$color5_l2: color.scale($color5, $lightness: 20%);
$color5_l3: color.scale($color5, $lightness: 30%);
$color5_l4: color.scale($color5, $lightness: 40%);
$color5_l5: color.scale($color5, $lightness: 50%);
$color5_l6: color.scale($color5, $lightness: 60%);
$color5_l7: color.scale($color5, $lightness: 70%);
$color5_l8: color.scale($color5, $lightness: 80%);
$color5_l9: color.scale($color5, $lightness: 90%);
$color5_d1: color.scale($color5, $lightness: -10%);
$color5_d2: color.scale($color5, $lightness: -20%);
$color5_d3: color.scale($color5, $lightness: -30%);
$color5_d4: color.scale($color5, $lightness: -40%);
$color5_d5: color.scale($color5, $lightness: -50%);
$color5_d6: color.scale($color5, $lightness: -60%);
$color5_d7: color.scale($color5, $lightness: -70%);
$color5_d8: color.scale($color5, $lightness: -80%);
$color5_d9: color.scale($color5, $lightness: -90%);
